
/* Global */
 body {
    background: url(../img/confectionary.png);
    }

img {
    opacity: 1;
    width: 50%;
    }
/* Layout */

/* Typography */

h1 {
    color: burlywood;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;

}

h2{
 font-family: 'Raleway', sans-serif;}

/* Navigation */

a {
   
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 100px;
    
}

li{
    display: inline
    
}

nav{
 
 font-family: 'Raleway', sans-serif;
}

p{
 font-family: 'Raleway', sans-serif;
}



    
   
