
/* Global */
 body {
    background-color: rgb(223, 213, 197);;
    }

img {
    opacity: 1;
    width: 50%;
    }
/* Layout */

/* Typography */

h1 {
    color: rgb(218, 169, 83);;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 7em;
   

}

h2{
 font-family: 'Raleway', sans-serif;}

/* Navigation */

a {
   
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 100px;
    
}

li{
    display: inline
    
}

nav{
 
 font-family: 'Raleway', sans-serif;
}

p{
 font-family: 'Raleway', sans-serif;
}



    
   
