
/* Global */
 body {
    background: url(../img/confectionary.png);
    }

img {
    opacity: 1;
    width: 50%;
    }
.me {
    height: 500px;
    width: 500px;
    border-radius: 50%;
}


/* Layout */



    

/* Typography */
h1 {
    color: rgba(0,0,0,.5);}

h1 {
    color: black;
    letter-spacing: 4px;
    font-family: 'Cookie', cursive;
    font-size:10em; 
    text-align: center}
    
    h2 {
    font-family: 'Raleway', sans-serif;
    }



/* Navigation */

a {
   
    text-decoration: none;
    color:white;
    display: inline-block;
    height: 35px;
    width:125px;
    
    
}

li{
    display: inline;
    
    
}

nav{
 font-family: 'Raleway', sans-serif;
    background: rgb(167,165,163);
    font-size: 1.25em
   
}



    
   
